@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}
.outlined-text {
  color: white;
  -webkit-text-stroke: 0.6px black;
  -webkit-text-fill-color: white;
}
